header {
  text-align: center;
  border: 2px solid darkcyan;
  background-color: cadetblue;
}

.sectionHead {
  text-align: center;
  border: 3px solid gray;
  background-color: whitesmoke;
  padding: 15px 20px;
  margin: 20px auto;
  width: 300px;
}

table {
  text-align: center;
  margin: 20px auto;
}

th {
  border: 2px solid gray;
  background-color: lightyellow;
}

td {
  border: 2px solid gray;
  /* width: 300px; */
  padding: 20px;
  background-color: lightyellow;
}

body {
  background-color: darkslategray;
}

ul {
  border: 3px solid gray;
  background-color: lightyellow;
  padding: 20px 50px;
  margin: 20px;
  width: 400px;
  margin: 15px auto;
}