header {
  text-align: center;
  border: 2px solid darkcyan;
  background-color: cadetblue;
}

.sectionHead {
  text-align: center;
  border: 3px solid whitesmoke;
  padding: 15px 20px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

table {
  text-align: center;
  margin: 20px auto;
}

th {
  border: 2px solid aquamarine;
  background-color: lightyellow;
}

td {
  border: 2px solid aquamarine;
  /* width: 300px; */
  padding: 20px;
  background-color: lightyellow;
}

body {
  background-color: darkslategray;
}